*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.row:before, .row:after{
	content: "";
	display: table;
}
.row:after{
	clear: :both;
}

[class*="col-"]{
	min-height: 7px;
	padding: 12px;
	float: left;
}
.col-1{
	width: 8.333333%;
}
.col-2{
	width: 
}